<div class="card" >
  <img [src]="product.img" class="card-img-top rounded" alt="...">

  <div class="position-absolute">
    <div class="text-white py-1 px-3 mt-3 rounded-end" [ngClass]="product.inStock ? 'bg-success' : 'bg-danger'">
      <small class="fw-bold">{{ product.inStock ? 'Instock' : 'Out of stock' }}</small>
    </div>
  </div>

  <div class="position-absolute add-to-card">
    <div class="add-to-card-icon" (click)="addToCard(product)">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
      </svg>
    </div>
  </div>

  <div class="card-body">
    <h6>{{ product.name }}</h6>
    <h6>LKR {{ product.price }}</h6>
    <span class="fw-bold" *ngIf="product.freeShipping">Free Shipping</span>
  </div>
</div>
